
@{
    ViewBag.Title = "sobreunisystem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          
        </div>
        <div>
            @Html.ActionLink("Voltar", "Login", "Conta", new { area = "" }, new { @class = "navbar-brand btn-newvs" })
        </div>
    </div>
</div>
<div class="historia">
    <p class="p-m">O propósito da UniSystem é desenvolver sistemas de help desk, para a melhoria do gerenciamento, controle, organização e agilidade nos processos de suporte das demandas, aprimorando a operação do seu negócio.</p>
    <p class="p-m">Os sistemas são desenvolvidos utilizando linguagem de programação (plataforma .NET) e os dados são armazenados no SQL Server.</p>
</div>
<div class="alilogo">
    <div class="logops">
        <img class="logos" src="~/Content/img/logounisystem6.fw.png" alt="Alternate Text" />
    </div>
</div>

